.site__todo{
    width: 100%;
    height: auto;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.site_todo__inner{
    width: 500px;
}
.site_todo__title{
    font-size: 30px;
    color: #fff;
    text-align: center;
    flex-basis: 50%;
}
.site_todo__top{
    text-align: start;
}
.site_todo__btn{
    padding: 0.5rem 1rem;
    background: blue;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.site_todo__btn:not(:active):not(:hover){
    transition: 0.5s ease ;
    transition-property: opacity background ;
}
.site_todo__top .site_todo__btn:hover{
    opacity: 0.7;
}
.site_todo__btn:active{
    background: black;
    color: #fff;
}
.site__form_box{
    width: 100%;
    margin: 1rem 0rem;
}
.site__form{
    width: 100%;
}
.site_todo__input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s ease all;
    outline: 2px solid transparent;
}
 .site_todo__input:focus{
    outline: 2px solid aqua;
}
.site_todo__input::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.site__todo_item{
    background: #fff;
    color: #000;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0rem;
}
.site__todo_item h3{
    margin: 0;
    padding: 0;
}
.site_todo_btn__box{
    display: flex;
    align-items: center;
}
.site_todo_btn__box button{
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 18px;   
}
.site_todo_btn__delete{
    background: crimson;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1px;
}
.site_todo_btn__edit{
    background: green;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1px;    
}