*::before,
*::after,
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(33, 41, 102); 
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.border-transparent{
  border: 1px solid transparent;
  outline: 1px solid transparent;
}
.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
.error__text{
  width: 100%;
  text-align: center;
}
.error__title{
  color: crimson;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}